
.footer {
    background-color: #ff0000;
    /* Red background */
    color: #fff;
    padding: 2em;
    height: 2vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-left: 354px;
    width: 50%;;
    display: flex;
    justify-content: space-around;
}

.footer-content{
    margin: 5px;
}

/* .image{
    width: 100%;
} */